.img {
  display: flex;
  justify-content: center;
}

.oak-warning {
  font-family: "DePixel", sans-serif;
  text-align: center;
  font-size: 14px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
  border-radius: 2px;
}

.prof {
  height: 300px;
  width: 500px;
}

.user {
  font-family: "DePixel", sans-serif;
  text-shadow: none;
  letter-spacing: normal;
  color: blue;
}

.welcome {
  font-family: "Pokemon Solid", sans-serif;
  color: rgb(255, 196, 0);
  /* height: fit-content; */
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
  letter-spacing: 4px;
  font-size: 20px;
}

.matches {
  display: flex;
  justify-content: center;
}

.poke {
  height: 300px;
  width: 320px;
  object-fit: fill;
}

.home-pic-div {
  background-image: url("https://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png?imageOpt=1&fit=bounds&width=2163");
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}
