header {
  width: 100%;
  background-color: rgb(36, 34, 57);
  /* background-color: rgb(255, 196, 0) !important; */
}

.page-title {
  font-family: "Pokemon Solid", sans-serif;
  color: rgb(255, 196, 0);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 4px;
  display: flex;
  margin: auto 20px;
  font-size: 32px !important;
}

.page-title:hover {
  text-decoration: none;
  color: rgb(255, 196, 0);
}

.me-auto {
  font-family: "DePixel", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-5 {
  margin-left: 4rem;
}

.active {
  color: red !important;
  padding: 1px;
}

.nav-icon {
  max-width: 100%;
  height: auto;
  margin-top: 3px !important;
}

.nav-link{
  text-transform: uppercase;
}

.navbar {
  /* background-color: rgb(255, 196, 0) !important; */
  background-color: rgb(36, 34, 57) !important;
  margin-top: 0px !important;
}

header div {
  margin-right: 0 !important;
}

.login-out{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 196, 0);
  color: black;
  padding: 5px 10px;
  
}

.login-out:hover{
  background-color: grey;
  color: white;
  text-decoration: none;
}