header{
    width: 100%;
    background-color: lightyellow;
}

.page-title{
    
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(255, 196, 0);
    /* height: fit-content; */
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    letter-spacing: 4px;
}

.page-title:hover{
    cursor:default;
}

.me-auto{
    font-family: "DePixel", sans-serif;
    display: flex;
    justify-content: center;
}

.ml-5{
    margin-left: 4rem;
}

.active{
    color: red!important;
    padding: 1px;
}